
/*

d8888b.  d888b  d8888b. d88888D 
88  `8D 88' Y8b 88  `8D VP  d8' 
88oobY' 88    88oooY' d8'  
88`8b   88  ooo 88~~~b.   d8'   
88 `88. 88. ~8~ 88   8D  d8'  
88   YD  Y888P  Y8888P' d8'  
               
* Copyright 2016-2018, by RGB7
Version 4.0

USE FOR PLACE-LIST & PLACE-DETAIL ONLY
*/

#breadcrumb img{
 width:30px;
}

/*BREADCRUMB HEALING Heal COLOR*/

#breadcrumb.type-heal {
  list-style: none;
  display: inline-block;
  padding: 0px;
}
#breadcrumb.type-heal .icon {
  font-size: 14px;
}
#breadcrumb.type-heal li {
  float: left;
}
#breadcrumb.type-heal li a {
  color: #FFF;
  display: block;
  background: #00AE89;
  text-decoration: none;
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0 10px 0 5px;
  text-align: center;
  margin-right: 23px;
}
#breadcrumb.type-heal li:nth-child(even) a {
  background-color: #00AE89;
}
#breadcrumb.type-heal li:nth-child(even) a:before {
  border-color: #00AE89;
  border-left-color: transparent;
}
#breadcrumb.type-heal li:nth-child(even) a:after {
  border-left-color: #00AE89;
}
#breadcrumb.type-heal li:first-child a {
  padding-left: 15px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px;
}
#breadcrumb.type-heal li:first-child a:before {
  border: none;
}
#breadcrumb.type-heal li:last-child a {
  padding-right: 15px;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
}
#breadcrumb.type-heal li:last-child a:after {
  border: none;
}
#breadcrumb.type-heal li a:before, #breadcrumb li a:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #00AE89;
  border-width: 20px 10px;
  width: 0;
  height: 0;
}
#breadcrumb.type-heal li a:before {
  left: -20px;
  border-left-color: transparent;
}
#breadcrumb.type-heal li a:after {
  left: 100%;
  border-color: transparent;
  border-left-color: #00AE89;
}
#breadcrumb.type-heal li a:hover {
  background-color: #00AE89;
}
#breadcrumb.type-heal li a:hover:before {
  border-color: #00AE89;
  border-left-color: transparent;
}
#breadcrumb.type-heal li a:hover:after {
  border-left-color: #00AE89;
}
#breadcrumb.type-heal li a:active {
  background-color: #00AE89;
}
#breadcrumb.type-heal li a:active:before {
  border-color: #00AE89;
  border-left-color: transparent;
}
#breadcrumb.type-heal li a:active:after {
  border-left-color: #3498db;
}
/*BREADCRUMB BUSI COLOR*/

#breadcrumb.type-busi {
  list-style: none;
  display: inline-block;
  padding: 0px;
}
#breadcrumb.type-busi .icon {
  font-size: 14px;
}
#breadcrumb.type-busi li {
  float: left;
}
#breadcrumb.type-busi li a {
  color: #FFF;
  display: block;
  background: #4EA6B6;
  text-decoration: none;
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0 10px 0 5px;
  text-align: center;
  margin-right: 23px;
}
#breadcrumb.type-busi li:nth-child(even) a {
  background-color: #4EA6B6;
}
#breadcrumb.type-busi li:nth-child(even) a:before {
  border-color: #4EA6B6;
  border-left-color: transparent;
}
#breadcrumb.type-busi li:nth-child(even) a:after {
  border-left-color: #4EA6B6;
}
#breadcrumb.type-busi li:first-child a {
  padding-left: 15px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px;
}
#breadcrumb.type-busi li:first-child a:before {
  border: none;
}
#breadcrumb.type-busi li:last-child a {
  padding-right: 15px;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
}
#breadcrumb.type-busi li:last-child a:after {
  border: none;
}
#breadcrumb.type-busi li a:before, #breadcrumb li a:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #4EA6B6;
  border-width: 20px 10px;
  width: 0;
  height: 0;
}
#breadcrumb.type-busi li a:before {
  left: -20px;
  border-left-color: transparent;
}
#breadcrumb.type-busi li a:after {
  left: 100%;
  border-color: transparent;
  border-left-color: #4EA6B6;
}
#breadcrumb.type-busi li a:hover {
  background-color: #4EA6B6;
}
#breadcrumb.type-busi li a:hover:before {
  border-color: #4EA6B6;
  border-left-color: transparent;
}
#breadcrumb.type-busi li a:hover:after {
  border-left-color: #4EA6B6;
}
#breadcrumb.type-busi li a:active {
  background-color: #4EA6B6;
}
#breadcrumb.type-busi li a:active:before {
  border-color: #4EA6B6;
  border-left-color: transparent;
}
#breadcrumb.type-busi li a:active:after {
  border-left-color: #3498db;
}

/*BREADCRUMB FOOD COLOR*/

#breadcrumb.type-food {
  list-style: none;
  display: inline-block;
  padding: 0px;
}
#breadcrumb.type-food .icon {
  font-size: 14px;
}
#breadcrumb.type-food li {
  float: left;
}
#breadcrumb.type-food li a {
  color: #FFF;
  display: block;
  background: #9A8FBA;
  text-decoration: none;
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0 10px 0 5px;
  text-align: center;
  margin-right: 23px;
}
#breadcrumb.type-food li:nth-child(even) a {
  background-color: #9A8FBA;
}
#breadcrumb.type-food li:nth-child(even) a:before {
  border-color: #9A8FBA;
  border-left-color: transparent;
}
#breadcrumb.type-food li:nth-child(even) a:after {
  border-left-color: #9A8FBA;
}
#breadcrumb.type-food li:first-child a {
  padding-left: 15px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px;
}
#breadcrumb.type-food li:first-child a:before {
  border: none;
}
#breadcrumb.type-food li:last-child a {
  padding-right: 15px;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
}
#breadcrumb.type-food li:last-child a:after {
  border: none;
}
#breadcrumb.type-food li a:before, #breadcrumb li a:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #9A8FBA;
  border-width: 20px 10px;
  width: 0;
  height: 0;
}
#breadcrumb.type-food li a:before {
  left: -20px;
  border-left-color: transparent;
}
#breadcrumb.type-food li a:after {
  left: 100%;
  border-color: transparent;
  border-left-color: #9A8FBA;
}
#breadcrumb.type-food li a:hover {
  background-color: #9A8FBA;
}
#breadcrumb.type-food li a:hover:before {
  border-color: #9A8FBA;
  border-left-color: transparent;
}
#breadcrumb.type-food li a:hover:after {
  border-left-color: #9A8FBA;
}
#breadcrumb.type-food li a:active {
  background-color: #9A8FBA;
}
#breadcrumb.type-food li a:active:before {
  border-color: #9A8FBA;
  border-left-color: transparent;
}
#breadcrumb.type-food li a:active:after {
  border-left-color: #3498db;
}

/*BREADCRUMB GOVENMENT COLOR*/

#breadcrumb.type-gove {
  list-style: none;
  display: inline-block;
  padding: 0px;
}
#breadcrumb.type-gove .icon {
  font-size: 14px;
}
#breadcrumb.type-gove li {
  float: left;
}
#breadcrumb.type-gove li a {
  color: #FFF;
  display: block;
  background: #787876;
  text-decoration: none;
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0 10px 0 5px;
  text-align: center;
  margin-right: 23px;
}
#breadcrumb.type-gove li:nth-child(even) a {
  background-color: #787876;
}
#breadcrumb.type-gove li:nth-child(even) a:before {
  border-color: #787876;
  border-left-color: transparent;
}
#breadcrumb.type-gove li:nth-child(even) a:after {
  border-left-color: #787876;
}
#breadcrumb.type-gove li:first-child a {
  padding-left: 15px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px;
}
#breadcrumb.type-gove li:first-child a:before {
  border: none;
}
#breadcrumb.type-gove li:last-child a {
  padding-right: 15px;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
}
#breadcrumb.type-gove li:last-child a:after {
  border: none;
}
#breadcrumb.type-gove li a:before, #breadcrumb li a:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #787876;
  border-width: 20px 10px;
  width: 0;
  height: 0;
}
#breadcrumb.type-gove li a:before {
  left: -20px;
  border-left-color: transparent;
}
#breadcrumb.type-gove li a:after {
  left: 100%;
  border-color: transparent;
  border-left-color: #787876;
}
#breadcrumb.type-gove li a:hover {
  background-color: #787876;
}
#breadcrumb.type-gove li a:hover:before {
  border-color: #787876;
  border-left-color: transparent;
}
#breadcrumb.type-gove li a:hover:after {
  border-left-color: #787876;
}
#breadcrumb.type-gove li a:active {
  background-color: #787876;
}
#breadcrumb.type-gove li a:active:before {
  border-color: #787876;
  border-left-color: transparent;
}
#breadcrumb.type-gove li a:active:after {
  border-left-color: #3498db;
}

/*BREADCRUMB SHOP COLOR*/

#breadcrumb.type-shop {
  list-style: none;
  display: inline-block;
  padding: 0px;
}
#breadcrumb.type-shop .icon {
  font-size: 14px;
}
#breadcrumb.type-shop li {
  float: left;
}
#breadcrumb.type-shop li a {
  color: #FFF;
  display: block;
  background: #E97F57;
  text-decoration: none;
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0 10px 0 5px;
  text-align: center;
  margin-right: 23px;
}
#breadcrumb.type-shop li:nth-child(even) a {
  background-color: #E97F57;
}
#breadcrumb.type-shop li:nth-child(even) a:before {
  border-color: #E97F57;
  border-left-color: transparent;
}
#breadcrumb.type-shop li:nth-child(even) a:after {
  border-left-color: #;
}
#breadcrumb.type-shop li:first-child a {
  padding-left: 15px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px;
}
#breadcrumb.type-shop li:first-child a:before {
  border: none;
}
#breadcrumb.type-shop li:last-child a {
  padding-right: 15px;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
}
#breadcrumb.type-shop li:last-child a:after {
  border: none;
}
#breadcrumb.type-shop li a:before, #breadcrumb li a:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #E97F57;
  border-width: 20px 10px;
  width: 0;
  height: 0;
}
#breadcrumb.type-shop li a:before {
  left: -20px;
  border-left-color: transparent;
}
#breadcrumb.type-shop li a:after {
  left: 100%;
  border-color: transparent;
  border-left-color: #E97F57;
}
#breadcrumb.type-shop li a:hover {
  background-color: #E97F57;
}
#breadcrumb.type-shop li a:hover:before {
  border-color: #E97F57;
  border-left-color: transparent;
}
#breadcrumb.type-shop li a:hover:after {
  border-left-color: #E97F57;
}
#breadcrumb.type-shop li a:active {
  background-color: #E97F57;
}
#breadcrumb.type-shop li a:active:before {
  border-color: #E97F57;
  border-left-color: transparent;
}
#breadcrumb.type-shop li a:active:after {
  border-left-color: #3498db;
}


/*BREADCRUMB PERSONAL COLOR*/

#breadcrumb.type-pers {
  list-style: none;
  display: inline-block;
  padding: 0px;
}
#breadcrumb.type-pers .icon {
  font-size: 14px;
}
#breadcrumb.type-pers li {
  float: left;
}
#breadcrumb.type-pers li a {
  color: #FFF;
  display: block;
  background: #FA6E6D;
  text-decoration: none;
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0 10px 0 5px;
  text-align: center;
  margin-right: 23px;
}
#breadcrumb.type-pers li:nth-child(even) a {
  background-color: #FA6E6D;
}
#breadcrumb.type-pers li:nth-child(even) a:before {
  border-color: #FA6E6D;
  border-left-color: transparent;
}
#breadcrumb.type-pers li:nth-child(even) a:after {
  border-left-color: #;
}
#breadcrumb.type-pers li:first-child a {
  padding-left: 15px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px;
}
#breadcrumb.type-pers li:first-child a:before {
  border: none;
}
#breadcrumb.type-pers li:last-child a {
  padding-right: 15px;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
}
#breadcrumb.type-pers li:last-child a:after {
  border: none;
}
#breadcrumb.type-pers li a:before, #breadcrumb li a:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #FA6E6D;
  border-width: 20px 10px;
  width: 0;
  height: 0;
}
#breadcrumb.type-pers li a:before {
  left: -20px;
  border-left-color: transparent;
}
#breadcrumb.type-pers li a:after {
  left: 100%;
  border-color: transparent;
  border-left-color: #FA6E6D;
}
#breadcrumb.type-pers li a:hover {
  background-color: #FA6E6D;
}
#breadcrumb.type-pers li a:hover:before {
  border-color: #FA6E6D;
  border-left-color: transparent;
}
#breadcrumb.type-pers li a:hover:after {
  border-left-color: #FA6E6D;
}
#breadcrumb.type-pers li a:active {
  background-color: #FA6E6D;
}
#breadcrumb.type-pers li a:active:before {
  border-color: #FA6E6D;
  border-left-color: transparent;
}
#breadcrumb.type-pers li a:active:after {
  border-left-color: #3498db;
}


/*BREADCRUMB SPORT COLOR*/

#breadcrumb.type-spor {
  list-style: none;
  display: inline-block;
  padding: 0px;
}
#breadcrumb.type-spor .icon {
  font-size: 14px;
}
#breadcrumb.type-spor li {
  float: left;
}
#breadcrumb.type-spor li a {
  color: #FFF;
  display: block;
  background: #FB8F23;
  text-decoration: none;
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0 10px 0 5px;
  text-align: center;
  margin-right: 23px;
}
#breadcrumb.type-spor li:nth-child(even) a {
  background-color: #FB8F23;
}
#breadcrumb.type-spor li:nth-child(even) a:before {
  border-color: #FB8F23;
  border-left-color: transparent;
}
#breadcrumb.type-spor li:nth-child(even) a:after {
  border-left-color: #;
}
#breadcrumb.type-spor li:first-child a {
  padding-left: 15px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px;
}
#breadcrumb.type-spor li:first-child a:before {
  border: none;
}
#breadcrumb.type-spor li:last-child a {
  padding-right: 15px;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
}
#breadcrumb.type-spor li:last-child a:after {
  border: none;
}
#breadcrumb.type-spor li a:before, #breadcrumb li a:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #FB8F23;
  border-width: 20px 10px;
  width: 0;
  height: 0;
}
#breadcrumb.type-spor li a:before {
  left: -20px;
  border-left-color: transparent;
}
#breadcrumb.type-spor li a:after {
  left: 100%;
  border-color: transparent;
  border-left-color: #FB8F23;
}
#breadcrumb.type-spor li a:hover {
  background-color: #FB8F23;
}
#breadcrumb.type-spor li a:hover:before {
  border-color: #FB8F23;
  border-left-color: transparent;
}
#breadcrumb.type-spor li a:hover:after {
  border-left-color: #FB8F23;
}
#breadcrumb.type-spor li a:active {
  background-color: #FB8F23;
}
#breadcrumb.type-spor li a:active:before {
  border-color: #FB8F23;
  border-left-color: transparent;
}
#breadcrumb.type-spor li a:active:after {
  border-left-color: #3498db;
}


/*BREADCRUMB ROOM COLOR*/

#breadcrumb.type-room {
  list-style: none;
  display: inline-block;
  padding: 0px;
}
#breadcrumb.type-room .icon {
  font-size: 14px;
}
#breadcrumb.type-room li {
  float: left;
}
#breadcrumb.type-room li a {
  color: #FFF;
  display: block;
  background: #B378A6;
  text-decoration: none;
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0 10px 0 5px;
  text-align: center;
  margin-right: 23px;
}
#breadcrumb.type-room li:nth-child(even) a {
  background-color: #B378A6;
}
#breadcrumb.type-room li:nth-child(even) a:before {
  border-color: #B378A6;
  border-left-color: transparent;
}
#breadcrumb.type-room li:nth-child(even) a:after {
  border-left-color: #;
}
#breadcrumb.type-room li:first-child a {
  padding-left: 15px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px;
}
#breadcrumb.type-room li:first-child a:before {
  border: none;
}
#breadcrumb.type-room li:last-child a {
  padding-right: 15px;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
}
#breadcrumb.type-room li:last-child a:after {
  border: none;
}
#breadcrumb.type-room li a:before, #breadcrumb li a:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #B378A6;
  border-width: 20px 10px;
  width: 0;
  height: 0;
}
#breadcrumb.type-room li a:before {
  left: -20px;
  border-left-color: transparent;
}
#breadcrumb.type-room li a:after {
  left: 100%;
  border-color: transparent;
  border-left-color: #B378A6;
}
#breadcrumb.type-room li a:hover {
  background-color: #B378A6;
}
#breadcrumb.type-room li a:hover:before {
  border-color: #B378A6;
  border-left-color: transparent;
}
#breadcrumb.type-room li a:hover:after {
  border-left-color: #B378A6;
}
#breadcrumb.type-room li a:active {
  background-color: #B378A6;
}
#breadcrumb.type-room li a:active:before {
  border-color: #B378A6;
  border-left-color: transparent;
}
#breadcrumb.type-room li a:active:after {
  border-left-color: #3498db;
}


/*BREADCRUMB AUTO COLOR*/

#breadcrumb.type-auto {
  list-style: none;
  display: inline-block;
  padding: 0px;
}
#breadcrumb.type-auto .icon {
  font-size: 14px;
}
#breadcrumb.type-auto li {
  float: left;
}
#breadcrumb.type-auto li a {
  color: #FFF;
  display: block;
  background: #CE4152;
  text-decoration: none;
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0 10px 0 5px;
  text-align: center;
  margin-right: 23px;
}
#breadcrumb.type-auto li:nth-child(even) a {
  background-color: #CE4152;
}
#breadcrumb.type-auto li:nth-child(even) a:before {
  border-color: #CE4152;
  border-left-color: transparent;
}
#breadcrumb.type-auto li:nth-child(even) a:after {
  border-left-color: #;
}
#breadcrumb.type-auto li:first-child a {
  padding-left: 15px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px;
}
#breadcrumb.type-auto li:first-child a:before {
  border: none;
}
#breadcrumb.type-auto li:last-child a {
  padding-right: 15px;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
}
#breadcrumb.type-auto li:last-child a:after {
  border: none;
}
#breadcrumb.type-auto li a:before, #breadcrumb li a:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #CE4152;
  border-width: 20px 10px;
  width: 0;
  height: 0;
}
#breadcrumb.type-auto li a:before {
  left: -20px;
  border-left-color: transparent;
}
#breadcrumb.type-auto li a:after {
  left: 100%;
  border-color: transparent;
  border-left-color: #CE4152;
}
#breadcrumb.type-auto li a:hover {
  background-color: #CE4152;
}
#breadcrumb.type-auto li a:hover:before {
  border-color: #CE4152;
  border-left-color: transparent;
}
#breadcrumb.type-auto li a:hover:after {
  border-left-color: #CE4152;
}
#breadcrumb.type-auto li a:active {
  background-color: #CE4152;
}
#breadcrumb.type-auto li a:active:before {
  border-color: #CE4152;
  border-left-color: transparent;
}
#breadcrumb.type-auto li a:active:after {
  border-left-color: #3498db;
}


/*BREADCRUMB SERVICES COLOR*/

#breadcrumb.type-serv {
  list-style: none;
  display: inline-block;
  padding: 0px;
}
#breadcrumb.type-serv .icon {
  font-size: 14px;
}
#breadcrumb.type-serv li {
  float: left;
}
#breadcrumb.type-serv li a {
  color: #FFF;
  display: block;
  background: #3353A6;
  text-decoration: none;
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0 10px 0 5px;
  text-align: center;
  margin-right: 23px;
}
#breadcrumb.type-serv li:nth-child(even) a {
  background-color: #3353A6;
}
#breadcrumb.type-serv li:nth-child(even) a:before {
  border-color: #3353A6;
  border-left-color: transparent;
}
#breadcrumb.type-serv li:nth-child(even) a:after {
  border-left-color: #;
}
#breadcrumb.type-serv li:first-child a {
  padding-left: 15px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px;
}
#breadcrumb.type-serv li:first-child a:before {
  border: none;
}
#breadcrumb.type-serv li:last-child a {
  padding-right: 15px;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
}
#breadcrumb.type-serv li:last-child a:after {
  border: none;
}
#breadcrumb.type-serv li a:before, #breadcrumb li a:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #3353A6;
  border-width: 20px 10px;
  width: 0;
  height: 0;
}
#breadcrumb.type-serv li a:before {
  left: -20px;
  border-left-color: transparent;
}
#breadcrumb.type-serv li a:after {
  left: 100%;
  border-color: transparent;
  border-left-color: #3353A6;
}
#breadcrumb.type-serv li a:hover {
  background-color: #3353A6;
}
#breadcrumb.type-serv li a:hover:before {
  border-color: #3353A6;
  border-left-color: transparent;
}
#breadcrumb.type-serv li a:hover:after {
  border-left-color: #3353A6;
}
#breadcrumb.type-serv li a:active {
  background-color: #3353A6;
}
#breadcrumb.type-serv li a:active:before {
  border-color: #3353A6;
  border-left-color: transparent;
}
#breadcrumb.type-serv li a:active:after {
  border-left-color: #3498db;
}


/*BREADCRUMB BANK COLOR*/

#breadcrumb.type-bank {
  list-style: none;
  display: inline-block;
  padding: 0px;
}
#breadcrumb.type-bank .icon {
  font-size: 14px;
}
#breadcrumb.type-bank li {
  float: left;
}
#breadcrumb.type-bank li a {
  color: #FFF;
  display: block;
  background: #E46DA5;
  text-decoration: none;
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0 10px 0 5px;
  text-align: center;
  margin-right: 23px;
}
#breadcrumb.type-bank li:nth-child(even) a {
  background-color: #E46DA5;
}
#breadcrumb.type-bank li:nth-child(even) a:before {
  border-color: #E46DA5;
  border-left-color: transparent;
}
#breadcrumb.type-bank li:nth-child(even) a:after {
  border-left-color: #;
}
#breadcrumb.type-bank li:first-child a {
  padding-left: 15px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px;
}
#breadcrumb.type-bank li:first-child a:before {
  border: none;
}
#breadcrumb.type-bank li:last-child a {
  padding-right: 15px;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
}
#breadcrumb.type-bank li:last-child a:after {
  border: none;
}
#breadcrumb.type-bank li a:before, #breadcrumb li a:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #E46DA5;
  border-width: 20px 10px;
  width: 0;
  height: 0;
}
#breadcrumb.type-bank li a:before {
  left: -20px;
  border-left-color: transparent;
}
#breadcrumb.type-bank li a:after {
  left: 100%;
  border-color: transparent;
  border-left-color: #E46DA5;
}
#breadcrumb.type-bank li a:hover {
  background-color: #E46DA5;
}
#breadcrumb.type-bank li a:hover:before {
  border-color: #E46DA5;
  border-left-color: transparent;
}
#breadcrumb.type-bank li a:hover:after {
  border-left-color: #E46DA5;
}
#breadcrumb.type-bank li a:active {
  background-color: #E46DA5;
}
#breadcrumb.type-bank li a:active:before {
  border-color: #E46DA5;
  border-left-color: transparent;
}
#breadcrumb.type-bank li a:active:after {
  border-left-color: #3498db;
}


/*BREADCRUMB reliONAL COLOR*/

#breadcrumb.type-reli {
  list-style: none;
  display: inline-block;
  padding: 0px;
}
#breadcrumb.type-reli .icon {
  font-size: 14px;
}
#breadcrumb.type-reli li {
  float: left;
}
#breadcrumb.type-reli li a {
  color: #FFF;
  display: block;
  background: #FFBE49;
  text-decoration: none;
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0 10px 0 5px;
  text-align: center;
  margin-right: 23px;
}
#breadcrumb.type-reli li:nth-child(even) a {
  background-color: #FFBE49;
}
#breadcrumb.type-reli li:nth-child(even) a:before {
  border-color: #FFBE49;
  border-left-color: transparent;
}
#breadcrumb.type-reli li:nth-child(even) a:after {
  border-left-color: #;
}
#breadcrumb.type-reli li:first-child a {
  padding-left: 15px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px;
}
#breadcrumb.type-reli li:first-child a:before {
  border: none;
}
#breadcrumb.type-reli li:last-child a {
  padding-right: 15px;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
}
#breadcrumb.type-reli li:last-child a:after {
  border: none;
}
#breadcrumb.type-reli li a:before, #breadcrumb li a:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #FFBE49;
  border-width: 20px 10px;
  width: 0;
  height: 0;
}
#breadcrumb.type-reli li a:before {
  left: -20px;
  border-left-color: transparent;
}
#breadcrumb.type-reli li a:after {
  left: 100%;
  border-color: transparent;
  border-left-color: #FFBE49;
}
#breadcrumb.type-reli li a:hover {
  background-color: #FFBE49;
}
#breadcrumb.type-reli li a:hover:before {
  border-color: #FFBE49;
  border-left-color: transparent;
}
#breadcrumb.type-reli li a:hover:after {
  border-left-color: #FFBE49;
}
#breadcrumb.type-reli li a:active {
  background-color: #FFBE49;
}
#breadcrumb.type-reli li a:active:before {
  border-color: #FFBE49;
  border-left-color: transparent;
}
#breadcrumb.type-reli li a:active:after {
  border-left-color: #3498db;
}

/*BREADCRUMB EDUCATION COLOR*/

#breadcrumb.type-educ {
  list-style: none;
  display: inline-block;
  padding: 0px;
}
#breadcrumb.type-educ .icon {
  font-size: 14px;
}
#breadcrumb.type-educ li {
  float: left;
}
#breadcrumb.type-educ li a {
  color: #FFF;
  display: block;
  background: #ADCF44;
  text-decoration: none;
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0 10px 0 5px;
  text-align: center;
  margin-right: 23px;
}
#breadcrumb.type-educ li:nth-child(even) a {
  background-color: #ADCF44;
}
#breadcrumb.type-educ li:nth-child(even) a:before {
  border-color: #ADCF44;
  border-left-color: transparent;
}
#breadcrumb.type-educ li:nth-child(even) a:after {
  border-left-color: #;
}
#breadcrumb.type-educ li:first-child a {
  padding-left: 15px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px;
}
#breadcrumb.type-educ li:first-child a:before {
  border: none;
}
#breadcrumb.type-educ li:last-child a {
  padding-right: 15px;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
}
#breadcrumb.type-educ li:last-child a:after {
  border: none;
}
#breadcrumb.type-educ li a:before, #breadcrumb li a:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #ADCF44;
  border-width: 20px 10px;
  width: 0;
  height: 0;
}
#breadcrumb.type-educ li a:before {
  left: -20px;
  border-left-color: transparent;
}
#breadcrumb.type-educ li a:after {
  left: 100%;
  border-color: transparent;
  border-left-color: #ADCF44;
}
#breadcrumb.type-educ li a:hover {
  background-color: #ADCF44;
}
#breadcrumb.type-educ li a:hover:before {
  border-color: #ADCF44;
  border-left-color: transparent;
}
#breadcrumb.type-educ li a:hover:after {
  border-left-color: #ADCF44;
}
#breadcrumb.type-educ li a:active {
  background-color: #ADCF44;
}
#breadcrumb.type-educ li a:active:before {
  border-color: #ADCF44;
  border-left-color: transparent;
}
#breadcrumb.type-educ li a:active:after {
  border-left-color: #3498db;
}


/*BREADCRUMB TRAN COLOR*/

#breadcrumb.type-tran {
  list-style: none;
  display: inline-block;
  padding: 0px;
}
#breadcrumb.type-tran .icon {
  font-size: 14px;
}
#breadcrumb.type-tran li {
  float: left;
}
#breadcrumb.type-tran li a {
  color: #FFF;
  display: block;
  background: #604041;
  text-decoration: none;
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0 10px 0 5px;
  text-align: center;
  margin-right: 23px;
}
#breadcrumb.type-tran li:nth-child(even) a {
  background-color: #604041;
}
#breadcrumb.type-tran li:nth-child(even) a:before {
  border-color: #604041;
  border-left-color: transparent;
}
#breadcrumb.type-tran li:nth-child(even) a:after {
  border-left-color: #;
}
#breadcrumb.type-tran li:first-child a {
  padding-left: 15px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px;
}
#breadcrumb.type-tran li:first-child a:before {
  border: none;
}
#breadcrumb.type-tran li:last-child a {
  padding-right: 15px;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
}
#breadcrumb.type-tran li:last-child a:after {
  border: none;
}
#breadcrumb.type-tran li a:before, #breadcrumb li a:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #604041;
  border-width: 20px 10px;
  width: 0;
  height: 0;
}
#breadcrumb.type-tran li a:before {
  left: -20px;
  border-left-color: transparent;
}
#breadcrumb.type-tran li a:after {
  left: 100%;
  border-color: transparent;
  border-left-color: #604041;
}
#breadcrumb.type-tran li a:hover {
  background-color: #604041;
}
#breadcrumb.type-tran li a:hover:before {
  border-color: #604041;
  border-left-color: transparent;
}
#breadcrumb.type-tran li a:hover:after {
  border-left-color: #604041;
}
#breadcrumb.type-tran li a:active {
  background-color: #604041;
}
#breadcrumb.type-tran li a:active:before {
  border-color: #604041;
  border-left-color: transparent;
}
#breadcrumb.type-tran li a:active:after {
  border-left-color: #3498db;
}


/*BREADCRUMB travONAL COLOR*/

#breadcrumb.type-trav {
  list-style: none;
  display: inline-block;
  padding: 0px;
}
#breadcrumb.type-trav .icon {
  font-size: 14px;
}
#breadcrumb.type-trav li {
  float: left;
}
#breadcrumb.type-trav li a {
  color: #FFF;
  display: block;
  background: #b14565;
  text-decoration: none;
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0 10px 0 5px;
  text-align: center;
  margin-right: 23px;
}
#breadcrumb.type-trav li:nth-child(even) a {
  background-color: #b14565;
}
#breadcrumb.type-trav li:nth-child(even) a:before {
  border-color: #b14565;
  border-left-color: transparent;
}
#breadcrumb.type-trav li:nth-child(even) a:after {
  border-left-color: #;
}
#breadcrumb.type-trav li:first-child a {
  padding-left: 15px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px;
}
#breadcrumb.type-trav li:first-child a:before {
  border: none;
}
#breadcrumb.type-trav li:last-child a {
  padding-right: 15px;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
}
#breadcrumb.type-trav li:last-child a:after {
  border: none;
}
#breadcrumb.type-trav li a:before, #breadcrumb li a:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #b14565;
  border-width: 20px 10px;
  width: 0;
  height: 0;
}
#breadcrumb.type-trav li a:before {
  left: -20px;
  border-left-color: transparent;
}
#breadcrumb.type-trav li a:after {
  left: 100%;
  border-color: transparent;
  border-left-color: #b14565;
}
#breadcrumb.type-trav li a:hover {
  background-color: #b14565;
}
#breadcrumb.type-trav li a:hover:before {
  border-color: #b14565;
  border-left-color: transparent;
}
#breadcrumb.type-trav li a:hover:after {
  border-left-color: #b14565;
}
#breadcrumb.type-trav li a:active {
  background-color: #b14565;
}
#breadcrumb.type-trav li a:active:before {
  border-color: #b14565;
  border-left-color: transparent;
}
#breadcrumb.type-trav li a:active:after {
  border-left-color: #3498db;
}
