
/*

d8888b.  d888b  d8888b. d88888D 
88  `8D 88' Y8b 88  `8D VP  d8' 
88oobY' 88    88oooY' d8'  
88`8b   88  ooo 88~~~b.   d8'   
88 `88. 88. ~8~ 88   8D  d8'  
88   YD  Y888P  Y8888P' d8'  
               
* Copyright 2016-2018, by RGB7
Version 4.0

USE FOR LADINGPAGE & PLACE-LIST & PLACE-DETAIL ONLY
*/


/* @end */
/* @group UI/COLR LANDING Group */

ul.landing-icon-list li.type-home {
	background-color: #97D4D9;
}
ul.landing-icon-list li.type-gove {
	background-color: #787876;
}
ul.landing-icon-list li.type-shop {
	background-color: #E97F57;
}
ul.landing-icon-list li.type-food {
	background-color: #9A8FBA;
}
ul.landing-icon-list li.type-pers{
	background-color: #FA6E6D;
}
ul.landing-icon-list li.type-spor {
	background-color: #FB8F23;
}
ul.landing-icon-list li.type-heal {
	background-color: #00AE89;
}
ul.landing-icon-list li.type-room{
	background-color: #B378A6;
}
ul.landing-icon-list li.type-auto {
	background-color:#CE4152;
}
ul.landing-icon-list li.type-busi{
	background-color: #4EA6B6;
}
ul.landing-icon-list li.type-serv{
	background-color: #3353A6;
}
ul.landing-icon-list li.type-bank {
	background-color: #E46DA5;
}
ul.landing-icon-list li.type-reli{
	background-color: #FFBE49;
}
ul.landing-icon-list li.type-educ{
	background-color: #ADCF44;
}
ul.landing-icon-list li.type-tran{
	background-color: #604041;
}
ul.landing-icon-list li.type-trav{
	background-color: #b14565;
}
ul.landing-icon-list li a {
	color: white;
}



/*====== BLOCK LANDING/PLACE LIST =======*/

/* @group  card-item-list Group */
ul.landing-icon-list li.active {
    -webkit-box-shadow: 2px 2px rgba(41, 41, 41, 0.75);
	-moz-box-shadow: 2px 2px rgba(41, 41, 41, 0.75);
	box-shadow: 2px 2px rgba(41, 41, 41, 0.75);
}
 .item-content {
}

.fill-background-item-list {
	background-color: white;
	-moz-box-shadow: 1px 1px 1px #bbbbbb;
	-webkit-box-shadow: 1px 1px 1px #bbbbbb;
	box-shadow: 1px 1px 1px #bbbbbb;
}

ul.landing-icon-list li img {
	margin: 0;
	padding: 0;
	width: 39px;
}
ul.landing-icon-list li a {
 font-size: 1em;
}




/* @end */