/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {

}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
.bg-cover-trans{

   background-image: url("../img/landing-cover-trans.png");
    background-repeat: repeat;
}
.carousel-item h4{
   color:#fff;
}
.carousel-item p{
  color:#eee;
}

/* Carousel base class */
.carousel {
  margin-bottom: 0rem;
   background-image: url("../background/2.jpg");
   /*background-color:black;*/
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 25rem;
 /* background-color: #777;*/
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/*// Extra small devices (portrait phones, less than 576px)*/
@media (min-width: 575.98px) { 
.carousel-caption {
  bottom: 2.5rem!important;
  z-index: 10;
}
  .carousel-caption h1{
    font-size: 1.5em;
    font-weight: 20px;
   }
}

/*// Small devices (landscape phones, less than 768px)*/
@media (min-width: 767.98px) { 
.carousel-caption {
  bottom: 2.5rem!important;
  z-index: 10;
}
 }

/*// Medium devices (tablets, less than 992px)*/
@media (min-width: 991.98px) { 
.carousel-item {
  height: 18rem;
 /* background-color: #777;*/
}
.carousel-caption {
  bottom: 3rem!important;
  z-index: 10;
}
}

/*// Large devices (desktops, less than 1200px)*/
@media (min-width: 1199.98px) { 
.carousel-item {
  height: 20rem;
  margin-top:0px;
 /* background-color: #777;*/
}
.carousel-caption {
  bottom: 6rem;
  z-index: 10;
}
 }


/* RESPONSIVE CSS
-------------------------------------------------- */


