/*

d8888b.  d888b  d8888b. d88888D
88  `8D 88' Y8b 88  `8D VP  d8'
88oobY' 88	  88oooY'	d8'
88`8b   88  ooo 88~~~b.   d8'
88 `88. 88. ~8~ 88   8D  d8'
88   YD  Y888P  Y8888P' d8'

* Copyright 2016-2018, by RGB7
Version 4.0
NOVEMBER RAIN 2018
*/

body{

	/*background: rgb(255,65,116);
	background: linear-gradient(87deg, rgba(255,65,116,0.3) 22%, rgba(75,185,186,0.3) 100%);*/
	/*background: rgb(255,65,116);
	background: linear-gradient(185deg, rgba(255,65,116,0.4) 22%, rgba(255,255,255,0.4) 100%);*/

}
h1 {
	color: #1e1e1e;
 }
h2 {
	color:#404040;
}
.content-main p{
	color:404040!important;
}
.text-dark-blue{
 color:#4d7389!important;
}
.navbar .form-control {
border:0px solid #fff;
}


/* ==========@group Landingpage Group ============*/


/* @group icon List Group */
 ul.landing-icon-list li img {
	margin: 0;
	padding: 0;
	width: 45px;
}



ul.landing-icon-list li {
	padding-left: 0;
	margin-bottom: 5px;
	padding-right: 10px;

}
ul.landing-icon-list li {
	color: white;
}

@media (max-width: 500px) {
  ul.landing-icon-list li img {
	width: 30px;
    }
}
@media (max-width: 767px) {
	ul.landing-icon-list li img {
		width: 30px;
	  }
}
@media (min-width: 768px) and (max-width: 991px) {
	ul.landing-icon-list li img {
		width: 35px !important;
	  }
}


/* @end */
/* ==========@end  Landingpage Group ================================= */


/* ==========@group  PLACE DETEIL Group ================================= */

.place-detail-content ul li i.fas{
	color:#175458!important;
}

.place-detail-content ul li{
	color:#404040!important;
}
/* ==========@end  PLACE DETEIL Group ================================= */

/* ==========@group  CARD LIST Group ================================= */
.place-list-datalist .item-list h6 {
 color:#404040;
}
.place-list-datalist .item-list .tag .badge-light{
 color:#444!important;
}
.place-list-datalist .item-list a.arrow-mobile {
 color:#ff4174!important;
 font-size: 0.8em;
 margin-top:5px;
}
.place-list-datalist .item-list img{
	width: 45px;
}

/* ==========@end  CARD LIST Group ================================= */

/* ==========@group  ACTIVITY  Group ================================= */
.content-activity ul li i.fas{
	color:#175458!important;
}
.content-activity  ul li{
	color:#404040!important;
}
.content-activity  p{
	color:#404040!important;
}

.content-activity-list h4 a{
  color: white!important;
}
.content-activity-list ul li{
  color: #eee!important;
}
.content-activity-list p{
  color: white!important;
}
.bg-activity-list{
	background-color:#4bb4ba!important ;
}

/* ==========@end  ACTIVITY LIST Group ================================= */

/* ==========@group  CONTACT LIST Group ================================= */
.bg-gray{
	background: #eee;
}


/* ==========@end  CONTACT LIST Group ================================= */

/* @group ADS Group */

.ads-section{
	margin-bottom: 40px;
}

.sponcor-section img{
	border: 1px solid silver;
}

.sponcor-section p{
	color: silver;
	font-size: 12px;
	margin-top: 5px;
	margin-bottom: 10px;
}
/* @end */


 .thumbnail {
	position: relative;
	padding: 0px;
	margin-bottom: 20px;
	-moz-box-shadow: 1px 1px 1px #6a6868;
	box-shadow: 1px 1px 1px #6a6868;
	border-style: none;
}
.thumbnail img {
	width: 100%;
}
/* @group Activity Group */
 .subling {
	border-top: 1px solid #eaeaea;
	padding: 10px;
}
.subling p {
	margin: 5px 0 0;
	padding: 0;
}
.services-section p {
	color: gray;
}
.subling a:visited{
	color: white;
}
/* @end */

/* @end */






/* @group Footer Group */

footer .copyright p {
	font-size: 0.8em;
	color:#D3D3D3;
}
footer .copyright a {
	color:#D3D3D3;
}
footer .creativecommons{
	font-size: 0.8em;
	color:#D3D3D3;
}
footer .creativecommons a{
	color:#D3D3D3;
}
footer .copyright-link {
	color:#D3D3D3;

	font-size: 0.8em;
}
footer
 {
	/*background: linear-gradient(#9ed13b, #349e00)
}*/
footer a {
	color:white;
}

.bg-blue-berry {
	background-color: #4bb4ba!important;
}

/* @end */





/* @group BG Colors Group */
/*---Color mode food-----*/
.flat.type-food a:hover, .flat.type-food a.active,
.flat.type-food a:hover:after, .flat.type-food a.active:after{
	background: #9A8FBA;
}
.fill-type-food{
	background: #9A8FBA!important;
}
.fill-type-food{
	background: #fff;
}
.flat.type-food  a.lastcrumb, .flat.type-food  a.lastcrumb:after {
background: #8f7fbd;
	/*background: #cdc7df;*/
}

.flat.type-gove a:hover, .flat.type-gove a.active,
.flat.type-gov a:hover:after, .flat.type-gove a.active:after{
	background: #787876;
}
.fill-type-gove{
	background: #787876;
}
.flat.type-gove  a.lastcrumb, .flat.type-gove  a.lastcrumb:after {
background: #4e4e4e;

}
.flat.type-gove a:hover,
.flat.type-gove a:hover:after{
	background: #575757
}

/*---Color mode shop-----*/
.flat.type-shop a:hover, .flat.type-shop a.active,
.flat.type-shop a:hover:after, .flat.type-shop a.active:after{
	background: #E97F57;
}
.fill-type-shop{
	background: #E97F57;
}
.flat.type-shop  a.lastcrumb, .flat.type-shop  a.lastcrumb:after {
background: #e96838;

}
.flat.type-shop a:hover,
.flat.type-shop a:hover:after{
	background: #e9a084
}


/*---Color mode pers-----*/
.flat.type-pers a:hover, .flat.type-pers a.active,
.flat.type-pers a:hover:after, .flat.type-pers a.active:after{
	background: #FA6E6D;
}
.fill-type-pers{
	background: #FA6E6D;
}
.flat.type-pers  a.lastcrumb, .flat.type-pers  a.lastcrumb:after {
background: #f94b4a;

}
.flat.type-pers a:hover,
.flat.type-pers a:hover:after{
	background: #f88786
}
/*---Color mode spor-----*/
.flat.type-spor a:hover, .flat.type-spor a.active,
.flat.type-spor a:hover:after, .flat.type-spor a.active:after{
	background: #FB8F23;
}
.fill-type-spor{
	background: #FB8F23;
}
.flat.type-spor  a.lastcrumb, .flat.type-spor  a.lastcrumb:after {
background: #fd8106;

}
.flat.type-spor a:hover,
.flat.type-spor a:hover:after{
	background: #f99e43
}

/*---Color mode heal-----*/
.flat.type-heal a:hover, .flat.type-heal a.active,
.flat.type-heal a:hover:after, .flat.type-heal a.active:after{
	background: #00AE89;
}
.fill-type-heal{
	background: #00AE89;
}
.flat.type-heal  a.lastcrumb, .flat.type-heal  a.lastcrumb:after {
background: #009172;

}
.flat.type-heal a:hover,
.flat.type-heal a:hover:after{
	background: #00d0a3
}

/*---Color mode room-----*/
.flat.type-room a:hover, .flat.type-room a.active,
.flat.type-room a:hover:after, .flat.type-room a.active:after{
	background: #B378A6;
}
.fill-type-room{
	background: #B378A6;
}
.flat.type-room  a.lastcrumb, .flat.type-room  a.lastcrumb:after {
background: #ae649d;

}
.flat.type-room a:hover,
.flat.type-room a:hover:after{
	background: #b888ad
}

/*---Color mode auto-----*/
.flat.type-auto a:hover, .flat.type-auto a.active,
.flat.type-auto a:hover:after, .flat.type-auto a.active:after{
	background: #CE4152;
}
.fill-type-auto{
	background: #CE4152;
}
.flat.type-auto  a.lastcrumb, .flat.type-auto  a.lastcrumb:after {
background: #c83042;

}
.flat.type-auto a:hover,
.flat.type-auto a:hover:after{
	background: #d46573
}

/*---Color mode busi-----*/
.flat.type-busi a:hover, .flat.type-busi a.active,
.flat.type-busi a:hover:after, .flat.type-busi a.active:after{
	background: #4EA6B6;
}
.fill-type-busi{
	background: #4EA6B6!important;
}
.flat.type-busi  a.lastcrumb, .flat.type-busi  a.lastcrumb:after {
background: #4097a7;

}
.flat.type-busi a:hover,
.flat.type-busi a:hover:after{
	background: #62acb9
}

/*---Color mode serv-----*/
.flat.type-serv a:hover, .flat.type-serv a.active,
.flat.type-serv a:hover:after, .flat.type-serv a.active:after{
	background: #3353A6;
}
.fill-type-serv{
	background: #3353A6;
}
.flat.type-serv  a.lastcrumb, .flat.type-serv  a.lastcrumb:after {
background: #2d4c9b;

}
.flat.type-serv a:hover,
.flat.type-serv a:hover:after{
	background: #3a5bb2
}

/*---Color mode bank-----*/
.flat.type-bank a:hover, .flat.type-bank a.active,
.flat.type-bank a:hover:after, .flat.type-bank a.active:after{
	background: #E46DA5;
}
.fill-type-bank{
	background: #E46DA5;
}
.flat.type-bank  a.lastcrumb, .flat.type-bank  a.lastcrumb:after {
background: #e3599a;

}
.flat.type-bank a:hover,
.flat.type-bank a:hover:after{
	background: #e57eaf
}

/*---Color mode reli-----*/
.flat.type-reli a:hover, .flat.type-reli a.active,
.flat.type-reli a:hover:after, .flat.type-reli a.active:after{
	background: #FFBE49;
}
.fill-type-reli{
	background: #FFBE49;
}
.flat.type-reli  a.lastcrumb, .flat.type-reli  a.lastcrumb:after {
background: #feb93c;

}
.flat.type-reli a:hover,
.flat.type-reli a:hover:after{
	background: #fec764
}

/*---Color mode educ-----*/
.flat.type-educ a:hover, .flat.type-educ a.active,
.flat.type-educ a:hover:after, .flat.type-educ a.active:after{
	background: #ADCF44;
}
.fill-type-educ{
	background: #ADCF44;
}
.flat.type-educ  a.lastcrumb, .flat.type-educ  a.lastcrumb:after {
background: #a8cd35;

}
.flat.type-educ a:hover,
.flat.type-educ a:hover:after{
	background: #b3d059
}

/*---Color mode tran-----*/
.flat.type-tran a:hover, .flat.type-tran a.active,
.flat.type-tran a:hover:after, .flat.type-tran a.active:after{
	background: #604041;
}
.fill-type-tran{
	background: #604041;
}
.flat.type-tran  a.lastcrumb, .flat.type-tran  a.lastcrumb:after {
background: #523536;

}
.flat.type-tran a:hover,
.flat.type-tran a:hover:after{
	background: #6c4c4d
}
/*---Color mode trav-----*/
.flat.type-trav a:hover, .flat.type-trav a.active,
.flat.type-trav a:hover:after, .flat.type-trav a.active:after{
	background: #b14565;
}
.fill-type-trav{
	background: #b14565;
}
.flat.type-trav  a.lastcrumb, .flat.type-trav  a.lastcrumb:after {
background: #a53e5d;

}
.flat.type-trav a:hover,
.flat.type-trav a:hover:after{
	background: #b54c6b
}
ul.landing-icon-list li a {
	color: white;
}

/* @end */

/* @end */


/* @group Map Group */
 #map {
	display: block;
	width: 100%;
	height: 350px;
	margin: 0 auto;
}
#map.mini {
	height:200px;
}
@media (max-width: 575.98px) {

#map{
		height:250px!important;
	}
}


.overlay {
	display:block;
	text-align:center;
	color:#fff;
	font-size:60px;
	line-height:80px;
	opacity:0.8;
	background:#4477aa;
	border:solid 3px #336699;
	border-radius:4px;
	box-shadow:2px 2px 10px #333;
	text-shadow:1px 1px 1px #666;
	padding:0 4px;
}
.overlay_arrow {
	left:50%;
	margin-left:-16px;
	width:0;
	height:0;
	position:absolute;
}
.overlay_arrow.above {
	bottom:-15px;
	border-left:16px solid transparent;
	border-right:16px solid transparent;
	border-top:16px solid #336699;
}
.overlay_arrow.below {
	top:-15px;
	border-left:16px solid transparent;
	border-right:16px solid transparent;
	border-bottom:16px solid #336699;
}
/* @end */
